<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="content px-xl-5">
                    <h3>Frequently Asked <strong>Questions</strong></h3>
                    <p>
                        About Bilal Madrasa
                    </p>
                </div>
            </div>

            <div class="col-lg-8">

                <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-1">
                                <span class="num">1.</span>
                                Where exactly the School located ?
                            </button>
                        </h3>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                🌸__🍂°°🔸
                                Bilal Madrasa is situated in the vibrant city of Harar City, nestled in the
                                heart of
                                the Harari region, Ethiopia. Our school provides an enriching educational experience
                                within
                                the dynamic cultural and geographical landscape of this diverse region. We are proud
                                to be a
                                part of the local community and contribute to the educational growth and development
                                of our
                                students in this unique and thriving Ethiopian setting.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-2">
                                <span class="num">2.</span>
                                What does the Bilal Madrasa contribute to the community ?
                            </button>
                        </h3>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                🖌__°°◇✨ Bilal Madrasa takes pride in actively contributing to the local
                                community in
                                various ways. Our commitment goes beyond academic excellence, and we strive to make
                                a
                                positive impact on the community. Here are some key contributions:Educational
                                Empowerment, <br>Cultural Enrichment, <br>Community Engagement,<br> Infrastructure
                                Development, <br>Economic
                                Impact, <br>Social Responsibility, <br>Health and Well-being.
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-3">
                                <span class="num">3.</span>
                                What makes Bilal Madrasa Different from others?
                            </button>
                        </h3>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                ✨||°°🔸
                                Bilal Madrasa stands out from others through a combination of unique features
                                and a
                                commitment to excellence. Here are key factors that distinguish our school:Holistic
                                Education , Cultural Embrace, Community Integration, Innovative Teaching Methods,
                                Diverse
                                Learning Environment, Technology Integration, Global Perspective, Focus on Student
                                Well-being, Commitment to Continuous Improvement, Parental Involvement ,Commitment
                                to
                                Continuous Improvement .
                            </div>
                        </div>
                    </div><!-- # Faq item-->

                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faq-content-4">
                                <span class="num">4.</span>
                                How is the Bilal Madrasa Organized?
                            </button>
                        </h3>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                                🖌__°°◇🌸 Bilal Madrasa is organized in a structured manner to ensure effective
                                management, optimal learning environments, and comprehensive student development.
                                The
                                organizational structure encompasses various key elements: Leadership Team, Academic
                                Divisions, Student Services, Administrative Support, Teaching Faculty, Facilities
                                and
                                Maintenance , Community Engagement.
                            </div>
                        </div>
                    </div><!-- # Faq item-->



                </div>

            </div>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->