<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bilal Madrasa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Top Performer Section ======= -->
    <section id="pricing" class="pricing sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Best Performer students in Bilal Madrasa</h2>
                <p>Discover the remarkable accomplishments of our top-performing students who have excelled in their
                    academic journey at Bilal Madrasa. Their dedication and excellence have set them apart, making them
                    the pride of our institution.</p>
            </div>

            <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

                <div class="col-lg-4">
                    <div class="pricing-item">
                        <h3>Abdella Mohammed</h3>
                        <div class="icon">
                            <i class="fa fa-trophy" aria-hidden="true" style="color: gold;"></i>
                        </div>
                        <h4>93<sup>%</sup><span> / Average</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Top Scorer in 2015</li>
                        </ul>
                        {{!-- <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div> --}}
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item featured">
                        <h3>Hamza Yasin</h3>
                        <div class="icon">
                            <i class="fa fa-trophy" aria-hidden="true" style="color: gold;"></i>
                        </div>

                        <h4>95<sup>%</sup><span> / Average</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Top Scorer in 2014</li>
                        </ul>
                    </div>
                </div>
                <!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item">
                        <h3>Fatima Mussa </h3>
                        <div class="icon">
                            <i class="fa fa-trophy" aria-hidden="true" style="color: gold;"></i>
                        </div>
                        <h4>91<sup>%</sup><span> / Average</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Top Scorer in 2013</li>
                        </ul>
                    </div>
                </div>
                <!-- End Pricing Item -->

            </div>

        </div>
    </section>
    <!-- End Top performer Section -->



    <script src="/js/main.js"></script>
</body>

</html>