<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>NileTech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/niletech.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {{!-- font-awesome --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-...your-sha512-hash-here..." crossorigin="anonymous" />


  <!-- CKEditor Online Link -->
  <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>

  <!-- Include DataTables -->
  <script src="path/to/jquery.dataTables.min.js"></script>
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>
  <!-- =======Starts Top Bar ======= -->
  <div id="topbar" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">

        <a href="tel:+251915137219"><i class="bi bi-phone-fill phone-icon"></i><span>+251
            915137219</span></i></a>
      </div>
      <div class="cta d-none d-md-block">
        <a href="/contact" class="scrollto">Order Us </a>
      </div>
    </div>
    <a href="https://twitter.com/binmhmd11" class="twitter " style="padding: 4px;">
      <i class="bi bi-twitter"></i></a>
    <!-- !-- facebook -- -->
    <a href="https://facebook.com/binmhmd99/" class="facebook" style="padding: 4px;">
      <i class="bi bi-facebook"></i></a>
    <!-- {{!-- email --}} -->
    <a href="http://www.niletech1513@gmail.com" style="padding: 4px;">
      <i class="bi bi-envelope" aria-hidden="true"> </i>
    </a>
    <!-- {{!-- linkedin --}} -->
    <a href="https://www.linkedin.com/in/anwar-mohammed-3ba9a6289" class="linkedin" style="padding: 4px;">
      <i class="bi bi-linkedin"></i></a>
    <!-- {{!-- telegram --}} -->
    <a href="https://t.me/binmhmd99" class="telegram" style="padding: 4px;">
      <i class="bi bi-telegram"></i>
    </a>

  </div>
  <!-- =======Ends  Top Bar ======= -->


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">NileTech</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href=index.html" class="logo"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/news">News</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/about">About Us</a></li>
          <li><a class="nav-link scrollto" href="/service">Services</a></li>
          <li><a class="nav-link scrollto " href="/#portfolio">Portfolio</a></li>

          <li class="dropdown"><a href="#"><span>News</span> <i class="bi bi-chevron-down"></i></a>
            <ul>

              <li><a href="/news/create">Broadcast News</a></li>
              <li><a href="/news">News Cards</a></li>
              <li><a href="/newspage">News Dashboard</a></li>

          </li>
        </ul>
        </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- Start #main -->
  <main id="main">

    <div class=" w-100">
      {{{body}}}
    </div>

  </main>
  <!-- End #main -->



  <!-- ======= Footer ======-->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About NileTech</h3>
            <p>We make IT simple, faster, and problem solving .</p>
            <p>Your trusted partner for innovative software solutions. We combine expertise, vision, and passion to
              drive digital transformation and deliver exceptional results.</p>
            <div class="social-links mt-3">
              <a href="https://x.com/NileTech15" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/share/p/vuKVsTmGHWkUkT3t/?mibextid=ZbWKwL" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/binmhmd99/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/anwar-mohammed-3ba9a6289" class="linkedin"><i
                  class="bi bi-linkedin"></i></a>
              <a href="https://t.me/niletech1" class="telegram">
                <i class="bi bi-telegram"></i></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/news">News</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/portfolio">portfolio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Help & Support</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/homeadmin">Admin Page</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/ui_ux">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/web">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Application Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/market">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/graphic">Graphic Design</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Imam Ahamd Masjid Street <br>
              Harar ,<br>
              Ethiopia <br><br>
              <strong>Phone:</strong>
              <a href="tel:+251915137219">
                <span>+251 915137219</span>
                </i>
              </a>
              <br>
              <strong>Email:</strong> niletech1513@gmail.com<br>
            </p>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>NileTech</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
        Powered by <a href="https://niletech.onrender.com/">NileTech Plc</a>
      </div>
    </div>
  </footer><!-- End Footer -->



  <!-- CKEditor Online Initialization -->
  <script>
    CKEDITOR.replace('body', {
      // Add any other CKEditor configurations as needed
      plugins: 'wysiwygarea, toolbar,basicstyles,link'
    });
  </script>

  <script>

    $(document).ready(function () {
      $("#data_news").DataTable({
        order: [0, 'desc']
      });
    });

  </script>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>