<div class="p-2 d-flex flex-column align-items-center">
    <div>
        <img src="img/niletech.png" style="height: 200px; width: 170px;" alt="">
    </div>
    <div>
        <h3 class="text-center"><i class="fas fa-book-reader"></i> Sign Up</h3>
        <div class="container mt-4">
            <p class="lead text-center">Welcome to our platform! Signing up allows you to access exclusive features and
                personalized content. Join our community of learners today and embark on a journey of knowledge and
                discovery.</p>
        </div>
        <hr class="my-4">
        <div class="container mt-4 text-center">
            <a href="/auth/google" class="btn btn-primary">
                <i class="fab fa-google me-2"></i> Log In With Google
            </a>
        </div>
    </div>
</div>

<!-- Additional content at the end of the page -->
<div style="padding-top: 300px;">

    <ul class="footer-links">
        <div>
            <div class="text-center float-start"><a href="/terms" class="buy-btn">Terms
                    of service</a></div>

            <div class="text-center float-start" style="padding-left: 30px;"><a href="/privacy" class="buy-btn">Privacy
                    policy</a></div>
        </div>
    </ul>
    <div class="credis float-end" style="padding-left: 15px;">
        Designed by <a href="https://NileTech.onrender.com/">NileTech Plc</a>
    </div>
    <div class="copyright float-end">
        &copy; Copyright <strong><span>NileTech</span></strong>. All Rights Reserved !
    </div>


</div>