<link href="css/style.css" rel="stylesheet">
<section id="hero-other">
</section>

<main id="main">


    <!-- Breadcrumbs -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Home</a></li>
                <li>Services</li>
            </ol>
            <h2>Services </h2>
            <div class="col-lg-6 text-center">
                <h2></h2>
                <p> Our mission is to make your business better through technology
                </p>
                <p>Let us do the work, so you can focus on what matters. </p>

            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h4><a href="#">Website Development</a></h4>
                        <p>Creating stunning websites for online success. </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h4><a href="#">Application Development</a></h4>
                        <p>Innovative Mobile App Solutions - Powering Seamless Experiences. </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h4><a href="#">Debbuging</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla
                            pariatur
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <i class="bi bi-brightness-high"></i>
                        <h4><a href="#">Graphic Design</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <i class="bi bi-calendar4-week"></i>
                        <h4><a href="#">Free Consultation</a></h4>
                        <p>Our Free Consultation Service Delivers Expert Guidance on IT Solutions, Charting a Path
                            to
                            Optimal Success.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon-box">
                        <i class="bi bi-briefcase"></i>
                        <h4><a href="#">Digital Marketing</a></h4>
                        <p> Dynamic Digital Marketing Solutions - Fueling Growth & Engagement.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->




    <!-- ======= - 1 - OUR INDUSTRY-LEADING EXPERTISE ARE Us Section ======= -->
    <section id="why-us" class="why-us " style="padding-left: 150px;">
        <div class="content" style="padding-bottom: 70px; padding-top: 70px;">
            <h3 style="color: rgb(255, 30, 30);"><strong>OUR INDUSTRY-LEADING EXPERTISE ARE</strong></h3>
        </div>

        <div class="container-fluid">

            {{!-- 1 --}}
            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/digital.png"); border-radius:20px;' data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>DIGITAL TRANSFORMATION </strong></h3>
                        <p>
                            Digital transformation begins with paperless operation. Automate your workflows in-house
                            and
                            beyond, accelerate partner-customer processes with multi-platform solutions and an
                            intuitive
                            user interface.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- 2 --}}
            <div class="row" style="padding-top: 40px;">

                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>DIGITAL PROPERTY MANAGEMENT </strong></h3>
                        <p>
                            The most transparent way for effective economic management of residential buildings and
                            online energy consumption monitoring. Digital management of residential and
                            non-residential
                            spaces is ideal for both tenants and managers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/property.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
            </div>

            {{!-- 3 --}}
            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/industry.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>SMART INDUSTRY </strong></h3>
                        <p>
                            The Fourth Industrial Revolution is coming to your operation too. Automate the
                            management of
                            production-logistics processes with sophisticated systems based on Industry 4.0
                            principles,
                            designed for the most demanding industrial environments and challenges.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- 4 --}}
            <div class="row" style="padding-top: 40px;">

                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>CYBERSECURITY </strong></h3>
                        <p>
                            Secure your corporate digital assets and IT infrastructure against advanced cyber
                            threats.
                            We will protect your money, data, and reputation.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/cyber.png"); border-radius:20px;' data-aos="fade-right">
                </div>
            </div>

            {{!-- 5 --}}
            <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/customized.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>CUSTOMIZED SOFTWARE AND TAILORED SOLUTIONS </strong></h3>
                        <p>
                            Do you have unique processes or face specific challenges? Utilize custom software
                            engineering with personalized software considering all nuances of your business and
                            operation.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes" style="padding-top: 80px;">
        <div class="container">

            <div class="row d-flex justify-content-center" style="padding-bottom: 30px;">
                <div class="col-lg-6 text-center">
                    <h2>How it works </h2>
                    <p> Our Free Consultation Service Delivers Expert Guidance on IT Solutions, Charting a Path to
                        Optimal Success. </p>

                </div>
            </div>



            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Discover the product</a></h4>
                        <p class="description">NileTech's Process - Product Discovery, Collaboration, and Unleashing
                            Breakthrough Solutions.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Wireframe & Production</a></h4>
                        <p class="description">NileTech's Process - Collaborate, Design, Develop - From Wireframe to
                            Production, Delivering Exceptional Results.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Free Consultations</a></h4>
                        <p class="description">NileTech's Process - Engage, Assess, Advise - Delivering Tailored
                            Solutions through Free Consultations.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4 class="title"><a href="">Prototype Application</a></h4>
                        <p class="description">NileTech's Process - Ideate, Prototype, Refine - Creating
                            Cutting-Edge
                            Applications with Precision.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Icon Boxes Section -->


    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes" style="padding-top: 80px;">
        <div class="container">

            <div class="row d-flex justify-content-center" style="padding-bottom: 30px;">
                <div class="col-lg-6 text-center">
                    <h1>Join Our 6+ happy customers </h1>
                </div>
            </div>

            <div class="row">
                {{!-- 1 --}}
                <div class="col-md-3  col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    style="padding: 10px;">
                    <div class="icon-box" style="width: 300px;">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Bilal Madrasa</a></h4>
                    </div>
                </div>
                {{!-- 2 --}}
                <div class="col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    style="padding: 10px;">
                    <div class="icon-box" style="width: 300px;">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">JUMSU</a></h4>
                    </div>
                </div>
                {{!-- 3 --}}
                <div class="col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    style="padding: 10px;">
                    <div class="icon-box" style="width: 300px;">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Melka Walini School</a></h4>
                    </div>
                </div>
                {{!-- 4 --}}
                <div class="col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    style="padding: 10px;">
                    <div class="icon-box" style="width: 300px;">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Ararso Raw Food Exporter</a></h4>
                    </div>
                </div>
                {{!-- 5 --}}
                <div class="col-md-3 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    style="padding: 10px;">
                    <div class="icon-box" style="width: 300px;">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Nile Plc</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Icon Boxes Section -->

</main>
<!-- End #main -->