<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>NileTech</span></h2>
                <p class="animate__animated animate__fadeInUp">
                    Digitalize your business with internationally validated solutions designed not only for efficiency
                    and sustainability of operational processes, but also for scalability, growth, and alignment with
                    your business priorities. Stop adapting to software, let the software adapt to you.
                </p>
                <a href="/about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">እንኳን ወደ ናይልቴክ መጡ </h2>
                <p class="animate__animated animate__fadeInUp">
                    ለውጤታማነት የአሰራር ሂደቶችን ዘላቂነት ለማስፋፋት እና ለማደግ በአለም አቀፍ ደረጃ በተረጋገጡ መፍትሄዎች ንግድዎን ዲጂታል በማድረግ ያዘምኑ ::
                    <br> ናይልቴክ የእርሶ አጋር
                </p>
                <a href="/about" class="btn-get-started animate__animated animate__fadeInUp scrollto">ለበለጠ መረጃ</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Baga Gara NileTech Dhuftan</h2>
                <p class="animate__animated animate__fadeInUp">
                    Furmaata sadarkaa idil-addunyaatti mirkanaa’ee fi gahumsa gaariin kan qophaa’een
                    daldala keessan dijiitaala gochuu fi itti fufiinsa adeemsa hojii, guddina fi
                    walsimsiisuuf Softwerii adda addaa madhaqsuun NileTech ashamaa isinin jedha.
                    <br> Miiltoo keessan NileTech.

                </p>
                <a href="/about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Odeeffannoo
                    Dabalataaf</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Discover the product</a></h4>
                        <p class="description">NileTech's Process - Product Discovery, Collaboration, and Unleashing
                            Breakthrough Solutions.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Wireframe & Production</a></h4>
                        <p class="description">NileTech's Process - Collaborate, Design, Develop - From Wireframe to
                            Production, Delivering Exceptional Results.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Free Consultations</a></h4>
                        <p class="description">NileTech's Process - Engage, Assess, Advise - Delivering Tailored
                            Solutions through Free Consultations.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                    data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4 class="title"><a href="">Prototype Application</a></h4>
                        <p class="description">NileTech's Process - Ideate, Prototype, Refine - Creating Cutting-Edge
                            Applications with Precision.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Icon Boxes Section -->


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
                <p>We make IT simple, faster, and problem solving . </p>
            </div>

            <div class="row content">
                <div class="col-lg-6">

                    <ul>
                        <li><i class="ri-check-double-line"></i> Innovation is the core of everything we do . </li>
                        <li><i class="ri-check-double-line"></i> We specialize in IT Consultation, cutting-edge Software
                            Development, and seamless Integrations of Websites, Apps, Systems, and APIs.</li>
                        <li><i class="ri-check-double-line"></i> Delivering IT solutions that enable you to work
                            smarter. </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">

                    <a href="/about" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-in">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="img/clients/niletech-t.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/bilal.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/melka.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/haramaya.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/google.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/innovation.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/ngo.jpeg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="img/clients/ararso.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-5 align-items-stretch position-relative video-box"
                    style='background-image: url("img/why-us.jpg");' data-aos="fade-right">
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn mb-4"></a>
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">

                    <div class="content">
                        <h3>Experience the Magic: <strong>Where Innovation Meets Creativity</strong></h3>
                        <p>
                            Dive into a world where your imagination is the only limit. Unleash your creativity and
                            explore
                            the endless possibilities awaiting you at NileTech. Join us in shaping the future through
                            innovation and cutting-edge technology.
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li data-aos="fade-up" data-aos-delay="100">
                                <a data-bs-toggle="collapse" class="collapse"
                                    data-bs-target="#accordion-list-1"><span>01</span> Curious about our mission and
                                    vision? <i class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        At NileTech, we're dedicated to revolutionizing the way you experience
                                        technology.
                                        Discover our commitment to excellence and our vision for a brighter future.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="200">
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2"
                                    class="collapsed"><span>02</span>
                                    Wondering about our services and expertise? <i
                                        class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        From cutting-edge software solutions to unparalleled customer support, we've got
                                        you
                                        covered. Explore our wide range of services and experience excellence like never
                                        before.
                                    </p>
                                </div>
                            </li>

                            <li data-aos="fade-up" data-aos-delay="300">
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                                    class="collapsed"><span>03</span>
                                    Ready to embark on a journey with NileTech? <i
                                        class="bx bx-chevron-down icon-show"></i><i
                                        class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                    <p>
                                        Join us in our mission to redefine the boundaries of technology. Whether you're
                                        a
                                        seasoned professional or a budding enthusiast, there's a place for you in our
                                        innovative community.
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= - 1 - OUR INDUSTRY-LEADING EXPERTISE ARE Us Section ======= -->
    <section id="why-us" class="why-us " style="padding-left: 150px;">
        <div class="content" style="padding-bottom: 70px; padding-top: 70px;">
            <h3 style="color: rgb(255, 30, 30);"><strong>OUR INDUSTRY-LEADING EXPERTISE ARE</strong></h3>
        </div>

        <div class="container-fluid">

            {{!-- 1 --}}
            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/digital.png"); border-radius:20px;' data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>DIGITAL TRANSFORMATION </strong></h3>
                        <p>
                            Digital transformation begins with paperless operation. Automate your workflows in-house and
                            beyond, accelerate partner-customer processes with multi-platform solutions and an intuitive
                            user interface.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- 2 --}}
            <div class="row" style="padding-top: 40px;">

                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>DIGITAL PROPERTY MANAGEMENT </strong></h3>
                        <p>
                            The most transparent way for effective economic management of residential buildings and
                            online energy consumption monitoring. Digital management of residential and non-residential
                            spaces is ideal for both tenants and managers.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/property.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
            </div>

            {{!-- 3 --}}
            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/industry.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>SMART INDUSTRY </strong></h3>
                        <p>
                            The Fourth Industrial Revolution is coming to your operation too. Automate the management of
                            production-logistics processes with sophisticated systems based on Industry 4.0 principles,
                            designed for the most demanding industrial environments and challenges.
                        </p>
                    </div>
                </div>
            </div>

            {{!-- 4 --}}
            <div class="row" style="padding-top: 40px;">

                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>CYBERSECURITY </strong></h3>
                        <p>
                            Secure your corporate digital assets and IT infrastructure against advanced cyber threats.
                            We will protect your money, data, and reputation.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/cyber.png"); border-radius:20px;' data-aos="fade-right">
                </div>
            </div>

            {{!-- 5 --}}
            <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/service/customized.png"); border-radius:20px;'
                    data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>CUSTOMIZED SOFTWARE AND TAILORED SOLUTIONS </strong></h3>
                        <p>
                            Do you have unique processes or face specific challenges? Utilize custom software
                            engineering with personalized software considering all nuances of your business and
                            operation.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-in">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Call To Action</h3>
                    <p> Delivering IT solutions that enable you to work smarter.</p>
                    <p style="padding-top: 15px;">Transformative IT Solutions for Smarter Workflows. </p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a href="tel:+251915137219" class="cta-btn align-middle">
                        <span>Call To Action</span>
                    </a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>Our mission is to make your business better through technology. </p>
                <p>Let us do the work, so you can focus on what matters. </p>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <i class="bi bi-card-checklist"></i>
                        <h4><a href="#">Website Development</a></h4>
                        <p>Creating stunning websites for online success. </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <i class="bi bi-bar-chart"></i>
                        <h4><a href="#">Application Development</a></h4>
                        <p>Innovative Mobile App Solutions - Powering Seamless Experiences. </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <i class="bi bi-binoculars"></i>
                        <h4><a href="#">Debbuging</a></h4>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box">
                        <i class="bi bi-brightness-high"></i>
                        <h4><a href="#">Graphic Design</a></h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <i class="bi bi-calendar4-week"></i>
                        <h4><a href="#">Free Consultation</a></h4>
                        <p>Our Free Consultation Service Delivers Expert Guidance on IT Solutions, Charting a Path to
                            Optimal Success.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon-box">
                        <i class="bi bi-briefcase"></i>
                        <h4><a href="#">Digital Marketing</a></h4>
                        <p> Dynamic Digital Marketing Solutions - Fueling Growth & Engagement.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->


    <!-- ======= Portfoio Section ======= -->
    <section id="portfolio" class="portfoio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfoio</h2>
                <h6>Innovation is the core of everything we do. </h6>
                <p>Discover our diverse portfolio and witness our exceptional projects. Explore the remarkable solutions
                    we have crafted at NileTech.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-web">Web</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Graphic</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">
                {{!-- App 1 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Web 1 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/web-bilal.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 1</h4>
                        <p>Web</p>
                        <a href="img/portfolio/web-bilal.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="https://bilalmadrasa.onrender.com" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- App 2 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Card 2 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/card_nile_brochure.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="img/portfolio/card_nile_brochure.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Web 2 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/web-ararso.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="img/portfolio/web-ararso.png" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="https://ararsobusiness.onrender.com" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- App 3 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Card 1 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/card_alasar.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="img/portfolio/card_alasar.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Card 3 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/card_doctor.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="img/portfolio/card_doctor.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Web 3 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/web-melka.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="img/portfolio/web-melka.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="https://melkawalinischool.onrender.com" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Card 3 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="img/portfolio/card_doctor.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Card 4</h4>
                        <p>Card</p>
                        <a href="img/portfolio/card_doctor.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="#portfolio" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
                {{!-- Web 4 --}}
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="img/portfolio/web-nile.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Web 4</h4>
                        <p>Web</p>
                        <a href="img/portfolio/web-nile.jpg" data-gallery="portfolioGallery"
                            class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="https://nile.com" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Portfoio Section -->

    <!-- ======= Testimonial Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonial</h2>
                <h4>What they say about us </h4>
                <h6>NileTech Exceeds Expectations – Trusted, Reliable, and Delivering Remarkable Results. </h6>
            </div>

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="img/testimonial/melka.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>MA Leadership & Management Ustaz Abdureuf</h4>
                            <span>Director of Melka Walini School</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="img/testimonial/bilal.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4> Ustaz Abdurehman</h4>
                            <span>Director of Bilal Madrasa</span>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="img/testimonial/abdurehman.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Eng Abdurehman Sh/Anwar</h4>
                            <span>President of JUMSU</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Team Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
            </div>
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">What solutions does NileTech offer for digitalizing
                            businesses?<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                NileTech offers internationally validated solutions designed for efficiency,
                                sustainability, scalability, and alignment with business priorities. These solutions are
                                tailored to adapt to your business needs, ensuring optimal performance and growth.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">How does NileTech ensure the efficiency and
                            sustainability of operational processes?<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                NileTech ensures efficiency and sustainability by implementing best practices in
                                digitalization. This includes optimizing workflows, reducing waste, and implementing
                                eco-friendly solutions where applicable. Through continuous improvement and innovation,
                                NileTech helps businesses achieve their operational goals while minimizing environmental
                                impact.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">How does NileTech support scalability and
                            growth?<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                NileTech provides scalable solutions that can adapt to the evolving needs of businesses.
                                Whether you're a startup or a large enterprise, NileTech's solutions are designed to
                                grow with you. By leveraging cutting-edge technologies and flexible architectures,
                                NileTech empowers businesses to expand their operations and reach new heights.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">How does NileTech ensure alignment with
                            business priorities?<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                NileTech collaborates closely with businesses to understand their priorities and
                                objectives. Through strategic planning and tailored solutions, NileTech ensures that its
                                offerings align with the specific needs and goals of each client. By fostering a
                                collaborative and transparent relationship, NileTech helps businesses achieve success
                                and drive value.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

    <!-- End Frequently Asked Questions Section -->

    <!-- ======= - 1 - Join Project Section ======= -->
    <style>
        .btn-learn-more {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 5px;
            transition: 0.3s;
            line-height: 1;
            color: #0880e8;
            animation-delay: 0.8s;
            margin-top: 6px;
            border: 2px solid #0880e8;
        }

        .btn-learn-more:hover {
            background: #0880e8;
            color: #fff;
            text-decoration: none;
        }
    </style>
    <section id="why-us" class="why-us">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 align-items-stretch position-relative "
                    style='background-image: url("img/project.png");' data-aos="fade-right">
                </div>
                <div class="col-lg-5 d-flex flex-column justify-content-center align-items-stretch"
                    data-aos="fade-left">
                    <div class="content">
                        <h3><strong>Join NileTech: </strong></h3>
                        <h4><strong> Ignite your tech career. </strong></h4>
                        <p>
                            Embark on a tech career journey – Apply at NileTech.
                        </p>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" style="padding-right: 100px;">
                        <a href="/project_application" class="btn-learn-more">Join Projects</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Join Project Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2>
                <div class="section-header">
                    <h2>Get in Touch</h2>
                    <p>Feel free to reach out to us. We're here to assist you !</p>
                </div>
            </div>

            <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

                <div class="col-lg-5">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <a href="mailto:niletech1513@gmail.com">niletech1513@gmail.com</a>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <a href="tel:+251915137219">
                                <span>+251 915137219</span>
                                </i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
                    <form action="https://api.web3forms.com/submit" method="POST" role="form" class="php-email-form">

                        <input type="hidden" name="access_key" value="ed4fd839-7805-4ea7-bd53-e64e2c2cf1f1">

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading" style="display: none;">Loading</div>
                            <div class="sent-message" style="display: none;">Your message has been sent. Thank you!
                            </div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                    {{!-- contact form web3 form script--}}
                    <script src="https://web3forms.com/client/script.js" async defer></script>
                    {{!-- contact form web3 form script--}}
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

</main><!-- End #main -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('.php-email-form');

        form.addEventListener('submit', function () {
            const loadingMessage = document.querySelector('.loading');
            loadingMessage.style.display = 'block';

            // Hide the loading message after 3 seconds
            setTimeout(function () {
                loadingMessage.style.display = 'none';
            }, 3000);
        });
    });
</script>
<script src="js/main.js"></script>