<div style=" justify-content:center; ">

    <p>You have successfully Sent Your message to the School</p>
    <div style="padding-top: 40px;">
        <a role="button" class="btn btn-outline-success " href="/" target="_blank">
            Go to Home </a>
    </div>

</div>